body {
    background-color: #555555;
    min-height: 100%;
    width: 100%;
    margin: 0%;
}

div {
    padding: 1%;
}

p {
    display: inline-block;
}

button {
    background-color: white;
    display: block;
}

.date-box {
    display: inline-block;
    height: fit-content;
    width: fit-content;
    resize: none;
    text-align: center;
    max-lines: 1;
}

#legend {
    background-color: #444444;
    color: white;
    height: 100%;
    max-width: 100%;
}

#graph-pane {
    background-color: grey;
    color: white;
    min-height: 66%;
}

#options-panel {
    background-color: #444444;
    color: white;
    min-height: 33%;
    max-width: 66%;
    text-align: right;
    padding: 0%;
}

#date-panel {
    background-color: #444444;
    color: white;
    min-height: 33%;
    max-width: 66%;
    text-align: right;
    display: inline-block;
}

#info-panel {
    background-color: #444444;
    color: white;
    width: 33%;
    min-height: 33%;
    display: inline-flex;
}