body {
    background-color: #555555;
    min-height: 100%;
    width: 100%;
    margin: 0%;
}

div {
    padding: 1%;
}

p {
    display: inline-block;
}

button {
    background-color: white;
    display: block;
}

.date-box {
    display: inline-block;
    resize: none;
    text-align: center;
}

.time-box {
    display: inline-block;
    resize: none;
    text-align: center;
}

#legend {
    background-color: #444444;
    color: white;
    height: 100%;
    max-width: 100%;
}

#graph-pane {
    background-color: grey;
    color: white;
    min-height: 66%;
}

#data-box {
    width: 32%;
    height: 33%;  
    max-height: 33%;
    display: inline-block;
}

#filter-panel {
    background-color: #444444;
    color: white;
    max-height: 33%;
    width: 67%;
    text-align: right;
    justify-content: space-between;
    display: inline-block;
    padding: 10px;
}

.legend-module {
    background-color: #777777;
}